body {
    background-color: whitesmoke;
}

canvas {
    display: block;
    margin: auto;
    padding: 0;
    width: 800px;
    height: 480px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid rosybrown;
    border-radius: 5px;
}